<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework"
       parallel="tests">
    <listeners>
        <listener class-name="extentListeners.ExtentListeners"/>
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="testCases.LoginTest"/>
        </classes>
    </test>

    <test name="User Reg Test">
        <classes>
            <class name="testCases.UserRegTest"/>
        </classes>
    </test>

    <test name="Bank Manager Login Test">
        <classes>
            <class name="testCases.BankManagerLoginTest"/>
        </classes>
    </test>

    <test name="Add Customer Test">
        <classes>
            <class name="testCases.AddCustomerTest"/>
        </classes>
    </test>

    <test name="Open Account Test">
        <classes>
            <class name="testCases.OpenAccountTest"/>
        </classes>
    </test>
</suite>